<%= form_with(model: survey) do |form| %>
  
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2><%= survey.errors.count %> 件のエラーがあります:</h2>
      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 20px; border-bottom: 2px solid #333; padding-bottom: 10px;">
    <div>
      <%= form.label :title, "アンケートタイトル" %>
      <%= form.text_field :title, style: "display: block" %>
    </div>
    <div>
      <%= form.label :description, "説明" %>
      <%= form.text_area :description, style: "display: block" %>
    </div>
  </div>

  <%= form.fields_for :questions do |question_form| %>
    
    <div style="margin-left: 20px; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
      <p><strong>質問 <%= question_form.index + 1 %></strong></p>
      
      <%= question_form.label :content, "質問文" %>
      <%= question_form.text_field :content %>

      <div style="margin-left: 20px; margin-top: 10px;">
        <small>選択肢:</small>
        <%= question_form.fields_for :question_options do |option_form| %>
          <div style="display: inline-block; margin-right: 10px;">
            <%= option_form.text_field :title, placeholder: "選択肢" %>
          </div>
        <% end %>
      </div>

    </div>

  <% end %>

  <div style="margin-top: 20px;">
    <%= form.submit "アンケートを作成する" %>
  </div>

<% end %>